.list-item {
  list-style: none;
}
.unordered-list-container {
<<<<<<< HEAD
  text-align: c;
=======
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
  list-style: none;
}
.leftNavbar-class {
  background-color: #e2e8f0;
  padding: 20px;
  margin: 5px;
<<<<<<< HEAD
  height: 290px;
=======
  height: 250px;
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
}

.rightNavbar-class {
  background-color: #e2e8f0;
<<<<<<< HEAD
  padding: 20px;
  margin: 5px;
  height: 290px;
=======

  padding: 20px;
  margin: 5px;
  height: 250px;
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
}
.content-container {
  background-color: #f1f5f9;
  margin: 5px;
  padding: 20px;
<<<<<<< HEAD
  height: 290px;
}
.content-heading {
  font-size: 30px;
  font-weight: bold;
}
.right-heading {
  font-size: 30px;
  font-weight: bold;
}
.left-heading {
  font-size: 30px;
=======
  height: 250px;
}
.content-heading {
  font-weight: bold;
}
.right-heading {
  font-weight: bold;
}
.left-heading {
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
  font-weight: bold;
}

.navs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: 40%;
=======
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
}

@media (max-width: 768px) {
  .navs-container {
    display: flex;
    flex-direction: column;
  }
  .leftNavbar-class {
    background-color: #e2e8f0;
    width: 100%;
  }

  .rightNavbar-class {
    background-color: #e2e8f0;
    width: 100%;
  }

  .content-container {
    background-color: #f1f5f9;
    width: 100%;
    margin: 10px;
    padding: 20px;
  }
}
