.layout-container {
  background-color: white;
<<<<<<< HEAD
  height: 60%;
=======
  height: 70vh;
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
}
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
