* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS here */
<<<<<<< HEAD
.main-container {
  background-color: white;
  padding: 20px;
}
=======
.main-container{
  background-color: white;
  padding: 20px;
}
>>>>>>> 998b569ccffed0f3cd5a4d03431362df9399b778
